.server_div {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 150px;
  text-align: center;
}

#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-block {
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #722ed1;
  display: block;
  margin: 0 auto;
}

#list li {
  padding-top: 20px;
  width: 160px;
  height: 180px;
  background-color: rgba(255, 200, 252, 0.169);
  border-radius: 5px;
  border: 2px solid #722ed10c;
  font-family: "metropolisregular";
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}

#list li:hover {
  background-color: rgba(255, 200, 252, 0.3);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.image-block_title {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

.image-block_email {
  font-size: 12px;
}

.li_div li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.server_div_for_buttons {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.servertext {
  margin-bottom: 30px;
}

.prev {
  max-width: 190px;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  border: 1px solid #722ed1;
  max-width: 168px;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  font-family: "piersanslight";
  -webkit-box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.071);
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.071);
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: #f6e9ff;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prev:active,
.next:active {
  background-color: #fbf5ff;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition: background-color 0.1s, -webkit-transform 0.1s;
  transition: background-color 0.1s, -webkit-transform 0.1s;
  -o-transition: transform 0.1s, background-color 0.1s;
  transition: transform 0.1s, background-color 0.1s;
  transition: transform 0.1s, background-color 0.1s, -webkit-transform 0.1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.costumers_div #list li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
