@media  (max-width: 1470px) {
    .circle_div1_img {
        max-width: 600px;
    }
}


@media  (max-width: 1395px) {
    .navigation {
        margin-bottom: 50px;
    }

    .navbar_wraper ul li {
        margin-left: 30px;
    }

    .nav_wraper {
        height: 600px;
    }
    .nav_logo img {
        width: 40px;
    }

    .left_p img {
        max-width: 14px;
        width: 100%;
    }

    .left_p {
        max-width: 230px;
        width: 100%;
        height: 30px;
        font-size: 14px;
    }

    .left_purp_Button, .left_white_Button {
        max-width: 140px;
        width: 100%;
        height: 35px;
        font-size: 14px;
    }

    .sectio2_p {
        max-width: 599px;
        width: 100%;
    }
    
    .left_h1 {
        line-height: 1;
        font-size: 30px;
    }

    .left_p_blog {
        line-height: 1.2;
        font-size: 14px;
    }

    .right_box img {
        width: 100%;
    }

    .navbar_wraper li {
        font-size: 14px;
    }

    .li_special {
        padding: 5px 15px;
    }

    .section2_title h1 {
        font-size: 30px;
    }

    .section2_title p {
        font-size: 14px;
    }

    .whyqubly_ {
        margin-bottom: 20px;
        width: 120px;
        height: 30px;
    }

    .whyqubly_ p {
        font-size: 14px;
    }

    .box3_1_blog h1 {
        font-size: 16px;
        margin-top: 20px;
    }

    .box3_1_blog p {
        font-size: 14px;
    }

    .secproduct img {
        width: 20px;
    }

    .secproduct {
        width: 170px;
        height: 30px;
        gap: 6px;
        margin-bottom: 20px;
    }

    .secproduct {
        width: 170px;
        height: 30px;
        gap: 6px;
        margin-bottom: 20px;
    }

    .secproduct2 {
        max-width: 227px;
        height: 30px;
        gap: 3px;
    }


    .secproduct2 img {
        width: 18px;
    }

    .secproduct p {
        font-size: 14px;
    }

    .secondtitle  .sectit2 {
        max-width: 303px;
        width: 100%;
    }

    .secondtitle {
        gap: 30px;
    }

    .seccircpic {
        width: 300px;
    }

    .circle_div {
        margin-right: 20px;
    }
    
    .circle_div2 {
        top: -33px;
        left: 3px;
    }

    .circle_big_div {
        justify-content: space-evenly;
    }

    .secsicw2 {
        padding-left: 100px;
    }
}

@media  (max-width: 1260px) {
    .nav_wraper {
        height: 500px;
    }
}

@media  (max-width: 1150px) {
    .nav_blog {
        flex-direction: column;
        text-align: center;
        position: relative;
        z-index: -5;
    }
    .nav_wraper {
        height: 850px;
    }

    .left_h1 {
        max-width: 500px;
        width: 100%;
    }

    .left_p {
        margin:  20px auto;
    }

    .left_buttons {
        justify-content: center;
    }

    .signUp_section5 {
        padding: 0 20px;
    }

    .footer_div_bg {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media  (max-width: 1100px) {
    .navbvar-flex {
        display: inline-block;
    }
    
    .navbar_wraper {
        display: none;
    }

    .nav_wraper.active {
        clip-path: none;
        padding: 0;
        transition: all 0.3s;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 3px;
        background-color: #000;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
        background-color: #fff;
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
        background-color: #fff;
    }
    
    .navbar-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navigation.active {
        margin-bottom: -13px;
    }
    
    .navigation2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: none;
    }

    .navigation2bg.active {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        background-color: #799bba;
        width: 100%;
        height: 100%;
        transform: translate(0);
        transition: all 0.3s;
    }

    .navigation2.active {
        display: flex;
        transition: all 0.3s;
    }
    
    .navigation2 ul li {
        line-height: 2.2;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        color: #fff;
    }
    
    .container {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 100px;
        z-index: 100000;
    }

    .nav_logo.active {
        display: none;
    }

    .nav_logo {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 40px;
        left: 100px;
        z-index: 100000;
    }

    .nav_blog.active {
        margin-top: 108px;
    }

    .nav_blog {
        margin-top: 50px;
    }

    .secodCircle {
        padding-left: 20px;
    }

    .circle_div1_img {
        max-width: 450px;
        padding-top: 37px;
    }

    .section4_background {
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    }

    .section4_div {
        height: 710px;
    }
    .section4_div_brands {
        padding: 0 20px;
    }
}

@media  (max-width: 1050px) {
    #list {
        flex-wrap: wrap;
        width: 565px;
        margin: 0 auto;
    }

    #list li {
        margin-bottom: 30px;
    }
    
    .servertext {
        margin-bottom: 25px;
    }

    .server_div_for_buttons {
        margin-top: -35px;
    }
}

@media  (max-width: 1000px) {
    .signUp_h1 {
        font-size: 25px;
    }

    .textInLines_div{
        gap: 15px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .textInLines1 {
        width: 105px;
    }

    .signUpBrandspics_Big_div {
        gap: 30px;
        padding-right: 0;
    }

    .form1 {
        width: 330px;
        padding: 0 30px;
        top: -27px;
    }

    .signUp_purp {
        width: 380px;
    }
    
    .signUp_box2 {
        margin-left: 20px;
    }

}
@media  (max-width: 950px) {
    .box3_div {
        padding: 0 20px;
    }

    .circle_big_div {
        margin-bottom: 35px;
    }

    .footer_div {
        flex-wrap: wrap;
        max-width: 259px;
        text-align: center;
        justify-content: space-between;
        gap: 35px;
    }

    .footer_div_6_of_1 {
        margin: 0 auto;
    }

    .footer_div_6_of_6 {
        margin: 0 auto;
    }

    .footer_div_bg {
        height: 1000px;
    }
}

@media  (max-width: 800px) {
   .circle_big_div {
        padding: 0 20px;
   }

   .section2_title_h1 {
        font-size: 20px;
   }

   .circle_div1_img {
        max-width: 400px;
        padding-top: 51px;
   }

   .signUp_section5 {
        flex-direction: column;
   }

   .form1 {
        max-width: 416px;
        width: 100%;
        padding: 0 30px;
        top: -40px;
    }

    .signUp_purp {
        max-width: 467px;
        width: 100%;
    }

    .signUp_box2 {
        margin-left: 0;
    }

    .footer_div_bg {
        margin-top: 440px;
    }
}


@media  (max-width: 745px) {
    .left_h1 {
        font-size: 22px;
    }

    .left_p_blog {
        font-size: 12px;
    }

    .left_purp_Button, .left_white_Button {
        max-width: 110px;
        width: 100%;
        height: 30px;
        font-size: 12px;
    }

    .left_p {
        max-width: 200px;
        height: 22px;
        font-size: 12px;
    }
    
    .nav_wraper {
        height: 700px;
    }

    .bar1, .bar2, .bar3 {
        width: 30px;
        margin: 5px 0;
    }

    .change .bar1 {
        transform: translate(0, 8px) rotate(-45deg);
    }
    
    .change .bar3 {
        transform: translate(0, -8px) rotate(45deg);
    }

    .nav_blog {
        max-width: 700px;
        width: 100%;
    }

    .left_box {
        width: 400px;
    }

    .right_box img {
        width: 308px;
    }

    .nav_wraper {
        padding: 0;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);

    }

    .section4_div_brands {
        padding-top: 83px;
        flex-direction: column;
        gap: 30px;
    }

    .section4_div {
        height: 880px;
    }

    .line2 {
        display: inline-block;
        margin-top: -16px;
    }
}

@media  (max-width: 700px) {
    .sectio2_p {
        max-width: 420px;
        width: 100%;
    }

    .circle_div {
        margin-right: 0;
    }
    .circle_big_div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .secproduct {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .secproduct2 {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .secodCircle {
        margin-top: -23px;
    }

    .secsric {
        padding-top: 100px;
    }
    .box3_div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 50px;
    }

    .box3_1_icon {
        top: 12px;
        left: 92px;
    }

    .box3_1_blog h1 {
        max-width: 200px;
        width: 100%;
    }

    .sectit2 {
        text-align: center;
    }

    .section4paragraph {
        font-size: 16px;
        padding: 0 20px;
    }

    .section4_div {
        height: 800px;
        padding-top: 137px;
    }

    .slider_div_padding {
        margin-bottom: 170px;
    }

    .slider_div img {
        max-width: 400px;
        width: 100%;
        max-height: 250px;
        margin: 0 auto;
    }
   
    .slider_div {
        max-width: 400px;
        box-shadow: 0px 5px 14px 3px rgba(0, 0, 0, 0.194);
    }

    .slick-next:before, .slick-prev:before {
        font-size: 30px;
    }

    .slick-prev {
        left: 15px;
    }
    
    .slick-next {
        right: 30px;
    }

    
    .slick-dots li.slick-active button:before {
        font-size: 12px;
    }

    .slick-dots li button:before {
        font-size: 12px;
    }

    .slick-dots {
        bottom: -40px;
    }
    .marginbox3 {
        margin-bottom: 110px;
    }
}

@media  (max-width: 600px) {
    #list {
        width: 371px;
    }

    .server_div_for_buttons {
        width: 350px;
    }
    .prev, .next {
        font-size: 14px;
    }

    .prev {
        max-width: 160px;
    }
}


@media  (max-width: 540px) {
    .form1 {
        width: 330px;
        padding: 0 30px;
        top: -27px;
    }

    .signUp_purp {
        width: 380px;
        margin: 0 auto;
    }
    
}

@media  (max-width: 500px) {
    .right_box img {
        width: 308px;
    }
    
    .nav_blog {
        margin-top: 45px;
    }

    .nav_wraper {
        padding: 0;
        clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    }

    .container {
        right: 50px;
    }

    .nav_logo {
        left: 50px;
    }

    .section2_title {
        padding: 0 20px;
    }

    .slider_div_padding {
        margin-bottom: 140px;
    }

    .slider_div img {
        max-width: 350px;
        width: 100%;
        max-height: 200px;
        margin: 0 auto;
    }
   
    .slider_div {
        max-width: 350px;
        box-shadow: 0px 5px 14px 3px rgba(0, 0, 0, 0.194);
    }

}

@media  (max-width: 435px) {
    .form1 {
        height: 500px;
        width: 300px;
        padding: 0 30px;
        top: -27px;
    }

    .signUp_purp {
        width: 340px;
        height: 500px;
    }

    .fromh1 {
        margin: 20px 0;
        font-size: 18px;
    }

    .slidertext h1 {
        font-size: 22px;
    }

    .slidertext p {
        font-size: 12px;
    }
}


@media  (max-width: 425px) {
    .seccircpic {
        max-width: 220px;
        width: 100%;
    }

    .left_box {
        width: 300px;
    }

    .secodCircle {
        padding: 0 20px;
    }

    .section2_title h1 {
        text-align: center;
        font-size: 20px;
    }

    .sectit2 {
        text-align: center;
    }
    
    .circle_div {
        width: 230px;
    }
    
    .secsric {
        padding-top: 100px;
    }
}

@media  (max-width: 420px) {
    .circle_div1_img {
        width: 340px;
    }
}

@media  (max-width: 400px) {
    .left_h1 {
        width: 200px;
        text-align: center;
        margin: 20px auto;
    }
    
    .left_p_blog {
        width: 232px;
        margin: 20px auto;
    }

    .left_box {
        width: 239px;
    }

    .circle_div1_img {
        max-width: 315px;
    }

    .form1 {
        height: 470px;
        width: 234px;
    }

    .signUp_purp {
        width: 280px;
        height: 470px;
    }

    .fromh1 {
        margin: 20px 0;
        font-size: 18px;
    }

    .form_OR {
        margin: 10px 0;
    }

    .form_line_div {
        margin: 12px 0;
    }

    .textInLines_Text {
        font-size: 14px;
    }

    .textInLines1 {
        max-width: 85px;
        width: 100%;
    }

    .textInLines_div {
        gap: 28px;
    }

    .error_username {
        padding-top: 2px;
        font-size: 12px;
    }

    .error_password {
        padding-top: 3px;
        font-size: 12px;
    }

    .error_password2 {
        padding-top: 2px;
        font-size: 12px;
    }

    #list {
        max-width: 371px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .image-block {
        width: 60px;
        height: 60px;
    }
    .image-block_email {
        font-size: 10px;
    }

    #list li {
        width: 140px;
        height: 135px;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .server_div_for_buttons {
        width: 275px;
    }
    .prev, .next {
        font-size: 12px;
        height: 30px;
    }

    .next {
        max-width: 120px;
    }

    .prev {
        max-width: 140px;
    }

    #list {
        flex-wrap: wrap;
        width: 326px;
        margin: 0 auto;
    }
}

@media  (max-width: 345px) {
    .circle_div1_img {
        width: 250px;
    }
}
