@media  (max-width: 1470px) {
    .circle_div1_img {
        max-width: 600px;
    }
}


@media  (max-width: 1395px) {
    .navigation {
        margin-bottom: 50px;
    }

    .navbar_wraper ul li {
        margin-left: 30px;
    }

    .nav_wraper {
        height: 600px;
    }
    .nav_logo img {
        width: 40px;
    }

    .left_p img {
        max-width: 14px;
        width: 100%;
    }

    .left_p {
        max-width: 230px;
        width: 100%;
        height: 30px;
        font-size: 14px;
    }

    .left_purp_Button, .left_white_Button {
        max-width: 140px;
        width: 100%;
        height: 35px;
        font-size: 14px;
    }
    
    .left_h1 {
        line-height: 1;
        font-size: 30px;
    }

    .left_p_blog {
        line-height: 1.2;
        font-size: 14px;
    }

    .right_box img {
        width: 100%;
    }

    .navbar_wraper li {
        font-size: 14px;
    }

    .li_special {
        padding: 5px 15px;
    }

    .section2_title h1 {
        font-size: 30px;
    }

    .section2_title p {
        font-size: 14px;
    }

    .whyqubly_ {
        margin-bottom: 20px;
        width: 120px;
        height: 30px;
    }

    .whyqubly_ p {
        font-size: 14px;
    }

    .box3_1_blog h1 {
        font-size: 16px;
        margin-top: 20px;
    }

    .box3_1_blog p {
        font-size: 14px;
    }

    .secproduct img {
        width: 20px;
    }

    .secproduct {
        width: 170px;
        height: 30px;
        gap: 6px;
        margin-bottom: 20px;
    }

    .secproduct p {
        font-size: 14px;
    }

    .secondtitle  .sectit2 {
        max-width: 303px;
        width: 100%;
    }

    .secondtitle {
        gap: 30px;
    }

    .seccircpic {
        width: 300px;
    }

    .circle_div {
        margin-right: 20px;
    }
    
    .circle_div2 {
        top: -33px;
        left: 1px;
    }

}

@media  (max-width: 1260px) {
    .nav_wraper {
        height: 500px;
    }
}

@media  (max-width: 1150px) {
    .nav_blog {
        flex-direction: column;
        text-align: center;
        position: relative;
        z-index: -5;
    }
    .nav_wraper {
        height: 850px;
    }

    .left_h1 {
        max-width: 500px;
        width: 100%;
    }

    .left_p {
        margin:  20px auto;
    }

    .left_buttons {
        justify-content: center;
    }
}

@media  (max-width: 1100px) {
    .navbvar-flex {
        display: inline-block;
    }
    
    .navbar_wraper {
        display: none;
    }

    .nav_wraper.active {
        background-image: none;
        clip-path: none;
        padding: 0;
        height: 0;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 3px;
        background-color: #000;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
        background-color: #fff;
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
        background-color: #fff;
    }
    
    .navbar-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navigation.active {
        margin-bottom: -13px;
    }
    
    .navigation2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: none;
    }

    .navigation2bg.active {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        background-color: #799bba;
        width: 100%;
        height: 100%;
        transform: translate(0);
        transition: all 0.3s;
    }

    .navigation2.active {
        display: flex;
        transition: all 0.3s;
    }
    
    .navigation2 ul li {
        line-height: 2.2;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        color: #fff;
    }
    
    .container {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 100px;
        z-index: 100000;
    }

    .nav_logo.active {
        display: none;
    }

    .nav_logo {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 40px;
        left: 100px;
        z-index: 100000;
    }

    .nav_blog.active {
        margin-top: 108px;
    }

    .nav_blog {
        margin-top: 50px;
    }

    .secodCircle {
        padding-left: 20px;
    }

    .circle_div1_img {
        max-width: 450px;
        padding-top: 37px;
    }
    
}
@media  (max-width: 950px) {
    .box3_div {
        padding: 0 20px;
    }

    .circle_big_div {
        margin-bottom: 35px;
    }
}

@media  (max-width: 800px) {
   .circle_big_div {
        padding: 0 20px;
   }

   .section2_title_h1 {
        font-size: 20px;
   }

   .circle_div1_img {
        max-width: 400px;
        padding-top: 51px;
   }
}

@media  (max-width: 700px) {
    .circle_div {
        margin-right: 0;
    }
    .circle_big_div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .secproduct {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}


@media  (max-width: 745px) {
    .left_h1 {
        font-size: 22px;
    }

    .left_p_blog {
        font-size: 12px;
    }

    .left_purp_Button, .left_white_Button {
        max-width: 110px;
        width: 100%;
        height: 30px;
        font-size: 12px;
    }

    .left_p {
        max-width: 200px;
        height: 22px;
        font-size: 12px;
    }
    
    .nav_wraper {
        height: 700px;
    }

    .bar1, .bar2, .bar3 {
        width: 30px;
        margin: 5px 0;
    }

    .change .bar1 {
        transform: translate(0, 8px) rotate(-45deg);
    }
    
    .change .bar3 {
        transform: translate(0, -8px) rotate(45deg);
    }

    .nav_blog {
        max-width: 700px;
        width: 100%;
    }

    .left_box {
        width: 400px;
    }

    .right_box img {
        width: 308px;
    }

    .nav_wraper {
        padding: 0;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);

    }
}

@media  (max-width: 700px) {
    .box3_div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 50px;
    }

    .box3_1_icon {
        top: 12px;
        left: 92px;
    }

    .box3_1_blog h1 {
        max-width: 200px;
        width: 100%;
    }
}


@media  (max-width: 500px) {
    .right_box img {
        width: 308px;
    }
    
    .nav_blog {
        margin-top: 45px;
    }

    .nav_wraper {
        padding: 0;
        clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    }

    .container {
        right: 50px;
    }

    .nav_logo {
        left: 50px;
    }

    .section2_title {
        padding: 0 20px;
    }
}

@media  (max-width: 425px) {
    .seccircpic {
        width: 220px;
    }

    .secodCircle {
        padding: 0 20px;
    }

    .section2_title h1 {
        text-align: center;
        font-size: 20px;
    }

    .sectit2 {
        text-align: center;
    }

    .circle_div {
        width: 230px;
    }
}


@media  (max-width: 400px) {
    .left_h1 {
        width: 200px;
        text-align: center;
        margin: 20px auto;
    }
    
    .left_p_blog {
        width: 232px;
        margin: 20px auto;
    }

    .left_box {
        width: 239px;
    }

    
}
