@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@font-face {
    font-family: "metropolis-bold";
    src: url(/metropolisfonts/metropolis.bold.otf) format('truetype');
}

@font-face {
    font-family: "metropolis-medium";
    src: url(/metropolisfonts/metropolis.medium.otf) format('truetype');
}


.nav_wraper {
    padding: 24px 240px;
    margin: 0 auto;
    background-image: linear-gradient(#fff, #e2f1ff);
    max-width: 1440px;
    width: 100%;
    height: 811px;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.navbar_wraper ul {
    display: flex;
    align-items: center;
    font-family: 'Metrophobic', sans-serif;
}

.navbar_wraper ul li{
    margin-left: 45px;
}

.li_special {
    color: #722ed1;
    padding: 7px 30px;
    border: 1px solid #722ed1;
    border-radius: 50px;
}

.left_p {
    color: #722ed1;
    background-color: #f9f0ff;
    max-width: 256px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 50px;
    font-family: 'Metrophobic', sans-serif;
}

.left_Lmore {
    text-decoration: underline;
}

.left_h1 {
    font-size: 48px;
    font-family: "metropolis-bold";
}

.left_p_blog {
    font-size: 18px;
    font-family: 'metropolis-medium';
    color: #8989a2;
}