@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@font-face {
    font-family: 'metropolisbold';
    src: url(../fonts/Metropolis-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'metropolismedium';
    src: url(../fonts/Metropolis-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'metropolisregular';
    src: url(../fonts/metropolis.regular.otf) format('truetype');
}
@font-face {
    font-family: 'piersanslight';
    src: url(../fonts/PierSans-Light.otf) format('truetype');
}

.nav_wraper {
    padding: 24px 240px;
    margin: 0 auto;
    background-image: linear-gradient(#fff, #e2f1ff);
    max-width: 1440px;
    width: 100%;
    height: 811px;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}

.navbar_wraper ul {
    display: flex;
    align-items: center;
    font-family: 'metropolismedium', sans-serif;
}

.navbar_wraper ul li{
    margin-left: 45px;
}

.li_special {
    color: #722ed1;
    padding: 7px 30px;
    border: 1px solid #722ed1;
    border-radius: 50px;
}

.left_p {
    color: #722ed1;
    background-color: #f9f0ff;
    max-width: 256px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 50px;
    font-family: 'metropolisregular',sans-serif;
    margin-bottom: 15px;
}

.left_Lmore {
    text-decoration: underline;
}

.left_h1 {
    line-height: 1.4;
    font-size: 48px;
    font-family: 'metropolisbold', sans-serif;
    max-width: 434px;
    width: 100%;
    margin-bottom: 20px;
}

.left_p_blog {
    line-height: 1.5;
    font-family: 'metropolismedium', sans-serif;
    color: #8989a2;
    max-width: 480px;
    width: 100%;
    margin-bottom: 30px;
}

.left_buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.left_purp_Button, .left_white_Button {
    font-family: 'piersanslight';
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.071);

}

.left_purp_Button {
    max-width: 168px;
    width: 100%;
    height: 48px;
    background-color: #722ed1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.left_white_Button {
    
    max-width: 168px;
    width: 100%;
    height: 48px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.nav_blog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    margin-top: 92px;
}

.whyqubly_ {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f9f0ff;
    max-width: 144px;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-radius: 22px;
    margin-bottom: 32px;
}

.whyqubly_ p {
    color: #722ed1;
    font-family: 'metropolismedium', sans-serif;
    font-size: 16px;
}

.section2_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 48px;
    margin-bottom: 48px;
}

.section2_title h1 {
    font-size: 36px;
    font-family: 'metropolisbold', sans-serif;
}

.section2_title p {
    max-width: 492px;
    width: 100%;
    color: #8989a2;
    margin: 0 auto;
    font-family: 'metropolismedium', sans-serif;
    line-height: 1.5;
    
}

/* Section 3 */

.box3_div {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
}

.box3_1 {
    position: relative;
}


.box3_1_icon {
    position: absolute;
    top: 12px;
    left: 12px;
}

.box3_1_blog h1 {
    line-height: 1.3;
    font-size: 21px;
    font-family: 'metropolisbold', sans-serif;
    margin-top: 24px;
    max-width: 125px;
    width: 100%;
}

.h1 h1 {
    max-width: 200px;
    width: 100%;
}

.box3_1_blog p {
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    font-family: 'metropolismedium', sans-serif;
    margin-top: 16px;
    color: #8989a2;
    line-height: 1.5;
}

.marginbox3 {
    margin-bottom: 215px;
}

.circle_big_div {
    max-width: 1016px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 130px;
}

.circle_div {
    position: relative;
    max-width: 405px;
    width: 100%;
    margin-right: 73px;
}


.circle_div2 {
    position: absolute;
    top: -50px;
    left: -4px;
    z-index: 1000;
    max-width: 611px;
    width: 100%;
}
.secproduct p {
    font-family: 'metropolismedium', sans-serif;
    color: #722ed1;
}


.secproduct {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f9f0ff;
    max-width: 224px;
    width: 100%;
    height: 40px;
    border-radius: 22px;
    margin-bottom: 32px;

}

.secondtitle {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 48px;
    margin-bottom: 48px;
}

.secondtitle p {
    max-width: 502px;
    width: 100%;
}

.secodCircle {
    margin-top: 70px;
}

.circle_div_sec {
    margin-right: 0;
}

.secbig {
    margin-bottom: 47px;
}

/* Section 4 */
.section4_background {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(#f7f0ff, #e2f1ff);
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

.section4_div {
    padding-top: 200px;
    max-width: 970px;
    width: 100%;
    height: 767px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section4paragraph {
    max-width: 590px;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    font-size: 21px;
    font-family: 'metropolismedium', sans-serif;
}

.section4_middle_div  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_P {
    margin-top: 16px;
    margin-bottom: 55px;
    max-width: 140px;
    width: 100%;
    font-family: 'metropolisbold', sans-serif;
    font-size: 16px;
    text-align: center;
}

.section4_top_div {
    margin-bottom: -51px;
}

.line {
    background-color: #dec9fa;
    width: 100%;
    height: 1.5px;
}

.section4_div_brands {
    max-width: 942px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}

/* Section 5 */

.signUp_section5 {
    max-width: 1064px;
    width: 100%;
    height: 568px;
    margin: 0 auto;
    margin-top: 112px;
    margin-bottom: 160px;
    display: flex;
    align-items: center;
}

.signUp_box1 {
    max-width: 584px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}

.signUp_h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'metropolisbold', sans-serif;
    max-width: 431px;
    width: 100%;
}

.textInLines_div {
    display: flex;
    align-items: center;
    margin-top: 75px;
    gap: 40px;
    margin-bottom: 42px;
}

.textInLines_Text {
    color: #8989a2;
    font-family: 'metropolismedium', sans-serif;
}

.textInLines1 {
    width: 146px;
    height: 1.5px;
    background-color: #8989a2;
}

.signUpBrandspics_Big_div {
    gap: 50px;
    display: flex;
    align-items: center;
    gap: 102px;
    align-items: center;
    justify-content: center;
    padding-right: 43px;
}

.signUpBrandspics_div {
    display: flex;
    flex-direction: column;
    gap: 67px;
    align-items: center;
    justify-content: center;
}

.signUp_box2 {
    max-width: 480px;
    width: 100%;
    height: 568px;
}

.signUp_purp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f0ff;
    height: 528px;
    border-radius: 7px;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.03);
}

form {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    max-width: 416px;
    width: 100%;
    height: 528px;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.067);
    border-radius: 6px;
}

.fromh1 {
    margin-top: 37px;
    margin-bottom: 31px;
    font-size: 21px;
    font-family: 'metropolisbold', sans-serif;
}

.input {
    width: 100%;
    height: 100%;
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    font-family: 'metropolismedium';
    border: #979797c4 solid 1px;
    border-radius: 4px;
    transition: border-color 0.3s linear;

}

.input:focus {
    border-color: #626262fd;
    outline: none;
}

.form-wraper {
    max-width: 344px;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;

}

.error-text {
    color: red;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
}

.wraper2 input {
    position: relative;
    margin-bottom: 10px;
    height: 48px;
}

.wraper2 .input2 {
    position: relative;
    margin-bottom: 0;
    height: 48px;
}

.eye {
    position: absolute;
    margin-top: 16px;
    margin-left: -30px;
    cursor: pointer;
}

.submit_button {
    border: none;
    max-width: 344px;
    width: 100%;
    height: 48px;
    color: #fff;
    background-color: #722ed1;
    border-radius: 4px;
    box-shadow: 0px 11px 17px 8px rgba(0, 0, 0, 0.042);
    font-family: 'metropolismedium', sans-serif;
    font-size: 14px;
}

.form_OR {
    margin: 20px 0;
    font-family: 'metropolismedium', sans-serif;
}

.google_img {
    max-width: 199px;
    width: 100%;
}

.form_line_div {
    margin: 24px 0;
    max-width: 336px;
    width: 100%;
    height: 0.1px;
    background-color: #8989a2;
    opacity: 50%;
}

.formbottom_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form_bottom_p {
    font-size: 14px;
    font-family: 'metropolismedium', sans-serif;
    color: #8989a2;
}

.form_bottom_p_login {
    color: #1563ff;
    text-decoration: underline;
}


/* Section 6 FOOTER */

.footer_div_bg {
    background-color: #fbfcff;
}

.footer_div { 
    max-width: 1090px;
    width: 100%;
    margin:  0 auto;
}

.footer_div_6_of_1_p {
    font-size: 12px;
    font-family: 'metropolismedium';
    color: #160637;
    max-width: 198px;
    width: 100%;
}